@import '../variables.less';

.textarea {
  width: 600px;
  min-width: 400px;
  height: @spacing * 8;
  min-height: @spacing * 8;
  padding: @spacing - 1px; // -1 for border-width
  border: 1px solid @borderColor;
  border-radius: @borderRadius;

  color: @textMain;
  font-family: @fontName;
  font-size: @fontSize;
  line-height: @spacing * 2;
  vertical-align: top;

  background-color: @bgWhite;
  box-shadow: @shadow-level-1;

  transition: @defaultTransition, width 0s, height 0s;

  &:disabled {
    border-color: @borderColorDisabled;
    color: @textDisabled;
    background-color: @bgDisabled;
    box-shadow: none;
  }

  // https://bugzilla.mozilla.org/show_bug.cgi?id=312971
  &[readonly] {
    padding: @spacing;
    border-width: 0;
    background-color: @bgDisabled;
    box-shadow: none;
  }

  &:not(:disabled):not([readonly]):hover {
    box-shadow: @shadow-level-2;
  }

  &:focus {
    outline: none;
    border-color: @focusColor;
  }

  .placeholder-color();
}

.textarea-error {
  border-color: @errorColor;
  border-width: 2px;
  padding: @spacing - 2px;

  &:focus {
    border-color: @errorColor;
  }
}
